<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fietswinkel</title>
  <style>
    h1  {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rosybrown;
      color: black;
      border: black solid 1px;
      padding-top: 10px;:

    }
    h2  {
      font-family: Arial, Helvetica, sans-serif;
      background-color: cornflowerblue;
      color: black;
      border: black solid 1px;
      padding-top: 10px;:

    }
    table{
      border: black solid 2px;
    }

    td {
      border: black solid 2px;
      img: width 200px;
    }
  </style>
</head>
<body>

<p> Opvoeren van een nieuw lid:</p>

<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Gelukt!</strong> Je hebt succesvol een nieuw lid opgevoerd.
  <button (click)="removeMessageClearFields()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<input type="text" [(ngModel)]="lid.naam"
       name="lid" placeholder="naam">
<input type="text" [(ngModel)]="lid.voornaam"
       name="lid" placeholder="voornaam">
<input type="text" [(ngModel)]="lid.geboortedatum"
       name="lid" placeholder="geboortedatum: dd-mm-eejj">
<input type="text" [(ngModel)]="lid.geslacht"
       name="lid" placeholder="geslacht: M(an) of V(rouw)">
<button (click)="add()">Add</button>


</body>
</html>

