<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fietswinkel</title>
  <style>
    h1  {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rosybrown;
      color: black;
      border: black solid 1px;
      padding-top: 10px;:

    }
    h2  {
      font-family: Arial, Helvetica, sans-serif;
      background-color: cornflowerblue;
      color: black;
      border: black solid 1px;
      padding-top: 10px;:

    }
    table{
      border: black solid 2px;
    }

    td {
      border: black solid 2px;
      img: width 200px;
    }
  </style>
</head>
<body>

<p> Opvoeren van een nieuw lid:</p>

<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Gelukt!</strong> Je hebt succesvol een nieuw lid opgevoerd.
  <button (click)="removeMessageClearFields()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<input type="text" required pattern="[a-zA-Z ]*" [(ngModel)]="lid.naam" #naam="ngModel"
       name="lid" placeholder="naam">
<div *ngIf="naam.invalid && (naam.dirty || naam.touched)"
     class="alert">

  <div *ngIf="naam.errors?.['pattern']">
    Alleen letters invoeren.
  </div>


</div>
<input type="text" required pattern="[a-zA-Z ]*" [(ngModel)]="lid.voornaam" #voornaam="ngModel"
       name="lid" placeholder="voornaam">
<div *ngIf="voornaam.invalid && (voornaam.dirty || voornaam.touched)"
     class="alert">

  <div *ngIf="voornaam.errors?.['pattern']">
    Alleen letters invoeren.
  </div>
</div>

<input type="text" [(ngModel)]="lid.geboortedatum"
       name="lid" placeholder="geboortedatum: dd-mm-eejj" >

<select [(ngModel)]="selectedGeslacht">
  <option value="" disabled>Kies geslacht</option>
  <option *ngFor="let geslacht of geslacht" [value]="geslacht">{{ geslacht }}</option>
</select>

<button (click)="add()">Opslaan</button>


</body>
</html>

